; vim: filetype=clojure

(logging/init :file "riemann.log")
(tcp-server)
(udp-server)

; We have a few streams in our toolbox: where, call-rescue, info and index.
; Now, we'll add a new stream that will let us summarize data in a moving window

(let [my-index (index)
      index (update-index my-index)]
  (streams
    (moving-time-window 10 (combine folds/mean index))
  ))
