; vim: filetype=clojure

(def email (mailer))
(logging/init {:file "riemann.log"})

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "127.0.0.1"]
  (tcp-server {:host host})
  (udp-server {:host host}))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  (streams
    (default :ttl 60)
    (pipe -
          ; The first stage is to split up events by their service
          (splitp = service
                  ; count http requests
                  "http req rate" (with :metric 1 -)
                  ; But we'll double the count for 0mq requests
                  "0mq req rate" (with :metric 2 -))
          ; The second stage is to compute a rate and index it.
          (rate 5 (with :service "req rate" index)))))
