


;; send an email whenever the average web application latency exceeds 6 ms over 3 periods of 3 seconds. 


(streams
    (where (not (expired? event))
    ;; over time windows of 3 seconds...
      (fixed-time-window 3
      ;; calculate the average value , emit an average (summary) event
        (combine folds/mean
	;; if there are no events in the window, we can get nil events
	  (where (not (nil? event))
	     #(info "average event" %)
	     ;; collect the summary event over the last 3 fixed-time-windows
	     (moving-event-window 3
	       ;;find the summary event with the minimum average metric
	       (combine folds/minimum
	         ;; see if it breached the threshold
		 (where (> metric 6.0)
		   #(info "[TC]" %)
		   ;; send the event in an email
		   (email "dj@palaitis.com")))))))))


																																		 )
